@model LoginViewModel

<h2 class="text-center">Inloggen</h2>
<div class="row">

    <div class="col-sm-4">  </div>


    <div class="col-sm-4">
        <form asp-controller="Home" asp-action="Login" method="post" role="form">
            <div class="form-group">
                <label asp-for="UserName"></label>

                <input asp-for="UserName" class="form-control" placeholder="Naam" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>

                <input asp-for="Password" class="form-control" placeholder="Wachtwoord" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="checkbox form-group">
                <label asp-for="RememberMe"><input type="checkbox" asp-for="RememberMe">  Onthouden</label>
                

            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <input class="btn btn-info" type="submit" value="Terug" asp-controller="Home" asp-action="Index" />
                    <input class="btn btn-success" type="submit" value="Login" />
                </div>
            </div>
        </form>
        <p>@ViewBag.Login</p>
    </div>
    <div class="col-sm-4"> </div>

</div>
       
  
