@model RegisterViewModel


    <h2 class="text-center">Registratie</h2>
    <div class="row">
        
        <div class="col-sm-4">  </div>
        <div class="col-sm-4">
            <form asp-controller="Home" asp-action="Register" method="post" role="form">
                <div class="form-group">
                    <label asp-for="UserName"></label>

                    <input asp-for="UserName" class="form-control" placeholder="Gebruikersnaam" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>

                    <input asp-for="Name" class="form-control" placeholder="naam" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>

                    <input asp-for="Password" class="form-control" placeholder="Wachtwoord" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>

                    <input asp-for="Email" class="form-control" placeholder="voorbeeld@novi.nl" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Info"></label>

                    <input asp-for="Info" class="form-control" placeholder="Studierichting of Afdeling" />
                    <span asp-validation-for="Info" class="text-danger"></span>
                </div>

                <label>Student of Medewerker</label>
                <div class="col-md-16">

                    @Html.DropDownListFor(y => y.IdentyRole,
                                                 new SelectList(Model.IdentyRoles.Select(x => new { Value = x.Id, Text = x.Name }), "Value", "Text"),

                                                 new { @class = "form-control" })


                </div>


                <div class="btn-group  col-md-12 mt-2">
                    <input class="btn btn-info" type="submit" value="Terug" asp-controller="Home" asp-action="Index" />
                    <input class="btn btn-success" type="submit" value="Registreer" />

                </div>


            </form>
            <p style="color:red"> @ViewBag.Error</p>
        </div>

     



    </div>
