<style>
    .response-text {
        text-align: center
    }
</style>

@if (!string.IsNullOrEmpty(ViewBag.OrderNumber))
{
    <div class="response-text">
        <hr />
        <h2>Dankjewel!</h2>
        <hr />
        Je crypto donatie is succesvol uitgevoerd<br /> <br />
        ORDER NUMBER: @ViewBag.OrderNumber
    </div>
}
else
{
    <div class="response-text">
        <hr />
        <h2>Je donatie is geannuleerd</h2>
    </div>
}
