<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AcdUJfvxuj-9cX8aklbAsqHqIabytpr7TgSn4gFC99KM16gaSfgHg0tKxVoRX70YlcBZBevNoftm8B9y" />
      <add name="clientSecret" value="EMrpHd_ryb2MFIIlnZfM0nEp8ol66IcFYzY5cGnQF342cfh6u9ZGPsgkGyaWR1S5avI9pAh4rBS6eg01" />
    </settings>
  </paypal>
</configuration>